<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>
      DATA USER
      <br />
      _______________________________________
    </h1>
    <% user.forEach( x => { %>
    <h2><%= x.username %></h2>
    <% }) %>
    <form action="/users/rps" method="GET">
      <button class="btn btn-primary">MAIN SEKARANG!</button>
    </form>
  </body>
</html>
