<html>
  <head>
    <title>Login Here</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <div class="page-header">
      <h1>Login</h1>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div class="container row">
      <div class="jumbotron col-sm-4 pull-center">
        <form action="/login" method="POST">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username" />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password" />
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
