<head>
  <title>Sign Up Success</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
</head>
<body class="container">
  <div class="page-header">
    <h1>Sign Up Success</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container row">
    <div class="jumbotron jumbotron-fluid">
      <p class="text-success">
        Anda berhasil mendaftar! Silahkan
        <a href="/login">login</a> ulang untuk bermain.
      </p>
    </div>
  </div>
</body>
