<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/assets/css/rps.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="game-title">
      <a class="link-unstyled" href="/"
        ><h1 style="font-weight: bold; font-size: 72px"><</a
      ></h1>
      <img src="/img/rps/logo 1.png" alt="" />
      <h1 class="font-weight-bold">ROCK PAPER SCISSORS</h1>
    </div>
    <div class="game">
      <div class="player1">
        <div class="choices">
          <img src="/img/rps/batu-removebg-preview.png" id="r" srcset="" />
          <img src="/img/rps/kertas-removebg-preview.png" id="p" srcset="" />
          <img src="/img/rps/gunting-removebg-preview.png" id="s" srcset="" />
        </div>
      </div>
      <div class="versus" id="result-text"><p>VS</p></div>
      <div class="computer">
        <div class="choices">
          <img src="/img/rps/batu-removebg-preview.png" alt="Rock" srcset="" />
          <img
            src="/img/rps/kertas-removebg-preview.png"
            alt="Paper"
            srcset=""
          />
          <img
            src="/img/rps/gunting-removebg-preview.png"
            alt="Scissors"
            srcset=""
          />
        </div>
      </div>
    </div>
    <div class="refresh-game">
      <img onclick="form()" id="refresh" src="/img/rps/refresh.png" alt="" />
    </div>
    <script src="/assets/js/rps.js"></script>
  </body>
</html>
